*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}
 
body, html {
	height: 100%;
	width: 100%;
}
 
.bg{
	position: absolute;
	left:0;
	top:0;
	height:100vh;
	width: 100vw;
	z-index: -1;
	background: radial-gradient(#60686e, #1c1c1c);
}





.layer-over{
	position: absolute;
	left:0;
	top:0;
	height:100%;
	width: 100%;
	z-index: 2;
	pointer-events: none;
	 
	display: flex; 
	align-items: center;
	justify-content:flex-start;
	flex-direction: column;
}
.layer-over-parent{
	background-color: black;
	padding: 1em;
	margin-top: 0.5em;
	border-radius: 1em;
	color: white;
	max-width: 80%;
	height: auto;
	
	display: flex; 
	align-items: center;
	justify-content:center;
	 
	pointer-events: auto;
}
 
.top-bar-button {
	font-size: 1rem;
	padding: 0.75em;
	margin: 0.5em;
	 
	color: white;
	background-color: black;
	 
	border-radius: 2em;
	border: white solid 2px;
	 
	transition: 0.3s;
}
.top-bar-button:hover {
	color: white;
	background-color: grey;
}
.top-bar-button:active {
	color: black;
	background-color: white;
}
 


.help-button-layer-over {
	position: absolute;
	left:0;
	top:0;
	height:100vh;
	width: 100vw;
	z-index: 2;
	pointer-events: none;
	margin: 0;
	 
	display: flex;
	align-items: left;
	flex-direction:column;
	justify-content: flex-end;
}
.help-button {
	font-size: 1.5em;
	width: 1.5em;
	height: 1.5em;
	
	margin: 1em;
	padding: 0.75em;
	border-radius: 50%;
	 
	display: flex;
	align-items: center;
	justify-content: center;
	 
	border: white 2px solid;
	background-color: rgba(0, 0, 0, 0.1);
	color: white;
	 
	transition: 0.3s;
	 
	pointer-events: auto;
	z-index: 2;
}
.help-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.help-button:active {
	background-color: white;
	color: black;
	border: black 2px solid;
}








.help-window {
	background-color: rgba(0,0,0, 0.8);
	 
	position: relative;
	
	border-radius: 1em;
	width: 50vw;
	height: 40vh;
	 
	display: flex;
	align-items: center;
	justify-content: center;
}

.layer-over-help {
	position: absolute;
	left:0;
	top:0;
	height:100vh;
	width: 100vw;
	z-index: 2;
	pointer-events: none;
	margin: 0;
	 
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
 
.help-bg {
	width: 80vw;
	height: 80vw;
	background-color: rgba(0,0,0,0.8);
	border-radius: 2em;
	 
	display:flex;
	align-items: center;
	justify-items:center;
	flex-direction: column;
}
.help-bg > img{
	max-width:100%;
	object-fit: contain;
}
 















.redborder{
	outline: rgba(1, 0, 0, 0.3) solid 3px;
}

.hide{
	display: none;
}
